<h1>Welcome to LingApps</h1>
	<p>
	 LingApps is a site dedicated to web and mobile apps for linguistics.
  </p>
	<h3>With LingApps, you can:</h3>
	<ul>
		<li>Create data </li>
			<ul>
				<li>Word list <%= link_to "projects", projects_path %> (sign in required) </li>
			</ul>	
		<li>Browse data </li>
			<ul>
				<li>
					<%= link_to "word lists", word_lists_path %>
				</li>
				<li>
					<%= link_to "translations", translations_path %>
				</li>
			</ul>
		
		<li>Download <%= link_to "mobile apps", mobileapps_path %> </li>


	</ul>
	</p>
  


<input type="image" src="images/sign_up_yellow_small.png" value="submit" alt="submit" onClick="parent.location='<%= signup_path  %>'"/>

	


