<h1>Contact</h1>
<p>
	<ul>  
		<li>
			Project coordinator: <a href="http://faculty.washington.edu/farrar">Scott Farrar</a>
		</li>
		<li>
			App coordinator: <a href="http://students.washington.edu/kellypet/">Kelly Peterson</a>
		</li>

	</ul>
</p>
