<h1>Dashboard</h1>

<p>LingApps contains various apps:</p>

<ul>
	<li><b>In Situ:</b> An app for managing and using word lists.
	</li>  
<%= button_to "New Project", {:controller => 'projects', :action => 'new'}, :method => :get  %>
</ul>
